@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;900&display=swap');
*{
  margin: 0;
  padding:0;
  font-family: 'Inter', sans-serif;
  outline:none;
}
html, body{
  height: 100%;
  margin: 0;
}
.calculator-control{
  font-weight: 700;
  font-size: 32px;
  line-height: 33px;
  text-align: center;
  color: #00314B;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  height: 90px;
  user-select: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all 0.2s ease-in-out;
}
.calculator-control:hover{
  background: rgba(255, 255, 255, 0.55);
}
::-webkit-scrollbar {
  display: none;
}
.drdbtn{
  padding: 2px 6px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.drdbtn:hover{
  background-color: rgba(128, 128, 128, 0.156);
}
